{{ define "Currencies" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
     <h1>List of all Currencies</h1>   
    <table border="1">
      <thead>
      <tr>
        <td>Currencies</td>
        <td>InDenars</td>
        <td>Edit</td>
                <td>Delete</td>

      </tr>
       </thead>
       <tbody>
    {{ range . }}
      <tr>
        <td>{{ .Currency }}</td>
        <td> {{ .InDenars }} </td>
        <td><a href="/editcurrency?curr={{ .Currency }}">Edit</a></td>
        <td><a href="/deletecurrency?curr={{ .Currency }}">Delete</a></td>
      </tr>
    {{ end }}
       </tbody>
    </table>
<a href="/newcurrency"><h2>New Currency</h2></a>
  {{ template "Footer" }}
{{ end }}