{{ define "Currencies" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
     <h1>List of all Currencies</h1>   
    <table border="1">
      <thead>
      <tr>
        <td>Currencies</td>
        <td>InDenars</td>
        
      </tr>
       </thead>
       <tbody>
    {{ range . }}
      <tr>
        <td>{{ .Currency }}</td>
        <td> {{ .InDenars }} </td>
        
      </tr>
    {{ end }}
       </tbody>
    </table>
  {{ template "Footer" }}
{{ end }}