{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>List of all Payments</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>List of all Payments</h1>   
{{ end }}