{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <body>
        <p style="text-align:center;"><img src="http://www.marathonartists.com/wp-content/uploads/2017/09/inplayer-logo.png" alt="Logo"></p>
        <title>InPlayer DATABASE</title>
        <meta charset="UTF-8" />
        </body>
    </head>

    <style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}
h1{
   color: dodgerblue;
    text-align: center;
}
h2{
    text-align: center;
}
table{
        margin: auto;
}

li a {
    display: block;
    color: lightseagreen;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
a{
        text-align: center;
    margin: auto;
    display: block;
        text-decoration: none;

}
form {
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: .85em;
}

li a:hover {
    background-color: #111;
}
</style>
    <body>
{{ end }}