{{ define "Home" }}
{{ template "Header" }}
          {{ template "Menu" }}

<html>
<body>

<h1>
  <center>  Welcome to InPlayer DATABASE </center>
</h1>
<p style="text-align:center;"><img src="http://www.marathonartists.com/wp-content/uploads/2017/09/inplayer-logo.png" alt="Logo"></p>
</body>
</html>
{{ template "Footer"}}
        {{ end }}