{{ define "Home" }}
{{ template "Header" }}
          {{ template "Menu" }}

<html>
<body>

<h1>
  <center>  Welcome to InPlayer DATABASE </center>
</h1>
<h3> Here you can add,edit,view,delete:Merchant,Payment,Currencies in DATABASES</h3>

</body>
</html>
{{ template "Footer"}}
        {{ end }}