{{ define "Menu" }}
<ul>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/merchants">Merchant</a></li>
  <li><a href="/payments">Payments</a></li>
  <li><a href="/currencies">Currencies</a></li>
   <li><a href="/newpayments">NEW PAYMENT</a></li>
    <li><a href="/newmerchant">NEW MERCHANT</a></li>
</ul>

{{ end }}
