{{ define "Menu" }}
<style>
    #nav {
    width:750px;
    margin:0 auto;
    list-style:none;
}
#nav li {
    float:left;
}
#nav a {
    display:block;
    text-align:center;
    width:150px; /* fixed width */
    text-decoration:none;
}</style>
<ul id="nav">
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/merchants">Merchant</a></li>
  <li><a href="/payments">Payments</a></li>
  <li><a href="/currencies">Currencies</a></li>
</ul>

{{ end }}
