{{ define "Menu" }}
<a href="/">HOME</a> |
<a href="/merchants">MERCHANTS</a> |
<a href="/payments">PAYMENTS</a> |
<a href="/newpayments">NEW PAYMENT</a>
<a href="/newmerchant">NEW MERCHANT</a>

        {{ end }}