{{ define "Merchants" }}
{{ template "Header" }}
{{template "Menu"}}
 <h1>  List of all Merchants  </h1>
<table border="1">
<thead>
<tr>
    <td>Username</td>
    <td>Email</td>

    <td>View</td>
    <td>Edit</td>
    <td>Delete</td>

</tr>
</thead>
<tbody>
{{ range . }}
<tr>
    <td>{{ .Username }}</td>
    <td> {{ .Email }} </td>

    <td><a href="/viewmerchant?usr={{ .Username }}">View</a></td>
    <td><a href="/editmerchant?usr={{ .Username }}">Edit</a></td>
    <td><a href="/deletemerchant?usr={{ .Username }}">Delete</a></td>

</tr>
{{ end }}
</tbody>
</table>
    <div style="text-align: center; padding-top: 5px;">
<button><a href="/newcurrency" style="    text-decoration: none; color: dodgerblue;">New Merchant</a>
</div>
        {{ template "Footer" }}
        {{ end }}