{{ define "NewCurrency" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
<h1>New Currency</h1>
    <form method="POST" action="insertcurrency">
      <label> Currency </label><input type="text" name="currency" /><br />
      <label> Indenars </label><input type="text" name="indenars" /><br />
      <input type="submit" value="Save currency" />
    </form>
  {{ template "Footer" }}
{{ end }}