{{ define "Newmerchant" }}
        {{ template "Header" }}
        {{ template "Menu" }}
<h1>New Merchant</h1>
<form method="POST" action="insertmerchant" style="width:256px; margin: auto">
<label style="float:left; margin-bottom: 5px"> Username </label><input type="text" name="username" style="float:right; margin-bottom: 5px"/><br />
<label style="float:left; margin-bottom: 5px"> Email   </label><input type="text" name="Email" style="float:right; margin-bottom: 5px"/><br />
<label style="float:left; margin-bottom: 5px"> Country </label><input type="text" name="Country" style="float:right; margin-bottom: 5px"/><br />
<label style="float:left; margin-bottom: 5px"> Age    </label><input type="text" name="Age" style="float:right; margin-bottom: 5px"/><br />
<label style="float:left; margin-bottom: 5px"> Firstname </label><input type="text" name="Firstname" style="float:right; margin-bottom: 5px"/><br />
<label style="float:left; margin-bottom: 5px"> Lastname </label><input type="text" name="Lastname" style="float:right; margin-bottom: 5px"/><br />
<input type="submit" value="Save merchant" />
</form>
        {{ template "Footer" }}
        {{ end }}