{{ define "NoSuchMerchant" }}
        {{template "Header"}}
        {{template "Menu"}}

<p>the merchant doesnt exist</p><br><br>
    <a href="/newpayments">TRY AGAIN</a> |
    <a href="/newmerchant">ADD IT</a>

    {{template "Footer"}}
    {{end}}