{{ define "Payments" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
     <h1>List of all Payments</h1>   

    <table border="1">
      <thead>
      <tr>
        <td>ID</td>
        <td>Merchant</td>
        <td>Currency</td>
        <td>Amount</td>
        <td>Date</td>
        <td>Edit</td>
        <td>Delete</td>
      </tr>
       </thead>
       <tbody>
    {{ range . }}
      <tr>
        <td>{{ .ID }}</td>
        <td> {{ .Merchant }} </td>
        <td>{{ .Currency }} </td> 
        <td>{{ .Amount }} </td>
        <td>{{ .Date }} </td>
        <td><a href="/editpayment?id={{ .ID }}">Edit</a></td>
        <td><a href="/deletepayment?id={{ .ID }}">Delete</a><td>
      </tr>
    {{ end }}
       </tbody>
    </table>
    <div style="text-align: center; padding-top: 5px;">
<button><a href="/newcurrency" style="    text-decoration: none; color: black;">New Payment</a>
</div>
  {{ template "Footer" }}
{{ end }}