{{ define "Show" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <h2> Payment {{ .ID }} </h2>
      <span>Merchant: </span><span>{{ .Merchant }}</span>
      <span>Currency: </span><span> {{ .Currency }}</span>
      <span>Amount: </span><span> {{ .Amount }}</span>
      <span>Date:  </span><span>{{ .Date }}</span><br /> <a href="/editpayment?id={{ .ID }}">Edit</a>
      <br>
      <p>Total for {{ .Merchant }}: {{ .Total }}</p>
  {{ template "Footer" }}
{{ end }}