{{ define "Show" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <h2> Payment {{ .ID }} </h2>
      <p>Merchant: {{ .Merchant }}</p>
      <p>Currency:  {{ .Currency }}</p>
      <p>Amount:  {{ .Amount }}</p>
      <p>Date:  {{ .Date }}</p><br /> <a href="/edit?id={{ .ID }}">Edit</a></p>
      <br>
      <p>Total for {{ .Merchant }}: {{ .Total }}
  {{ template "Footer" }}
{{ end }}